@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

  html {
    scroll-behavior: smooth;
  }

  .clearfix {
    zoom: 1;
    :before,
    :after {
      content: "";
      display: table;
    }
    :after {
      clear: both;
    }
  }
}

.scrollTopBtn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.showScrollTopBtn {
  opacity: 1;
  transform: translateY(0);
}
